<h1>Stations:</h1>

<% @stations.each do |station| %>
  <%= station.name %>
  <%= station.address %>
  <%= station.distance %>
  <%= station.fuel_type %>
  <%= station.access_times %>
  <br>
<% end %>
